<section class="container-fluid faqs-banner">
    <div class="container-fluid"> 
        <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">FAQs</h2>
      
    </div>
    </div>
  </section>
  
  <section class="mt-5">  
  <div class="container-fluid">
    
  <div class="col-lg-12">
  <div class="row">
      <div class="col-lg-3 col-12">
        <div class="left-sticky "> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
           <div class="announcement-body">
                  <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
          </div>
          </div>
      </div>
      <div class="col-lg-6 col-12 mb-5">
      <div class="row">
          <h2 class="header-text">FAQs</h2>           
      </div>
      <div class="row">
        <div class="col-lg-12 mt-4">
          
          <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel title="What is PIBM's Journal?" id="config-panel-one">
              <ng-template ngbPanelContent>
                PIBM's Journal <b>“A Journal of Management”</b> is a prestigious publication platform for cutting-edge management research.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="How can I submit my research to PIBM's Journal?">
              <ng-template ngbPanelContent>
                Authors can submit their research through the online submission portal on our website.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="What types of articles does PIBM's Journal publish?">
              <ng-template ngbPanelContent>
                PIBM's A Journal of Management publishes original research articles, reviews, case studies, and more.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="What is the peer-review process?">
              <ng-template ngbPanelContent>
                PIBM's A Journal of Management follows a rigorous double-blind peer-review process.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="How long does the review process usually take?">
              <ng-template ngbPanelContent>
                The review process typically takes 4-8 weeks.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="What are the publication fees for accepted articles?">
              <ng-template ngbPanelContent>
                Publication fees vary depending on the type and length of the article. Kindly contact support for the details.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Does PIBM's Journal offer open-access publishing options?">
              <ng-template ngbPanelContent>
                Yes, PIBM's A Journal of Management offers open-access publishing for greater accessibility.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="What are the benefits of publishing with PIBM's Journal?">
              <ng-template ngbPanelContent>
                Publishing with us offers global exposure and credibility within the academic community.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="How can I access published articles in PIBM's Journal?">
              <ng-template ngbPanelContent>
                Published articles are accessible through our website and other databases.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Can I submit my article to multiple journals simultaneously?">
              <ng-template ngbPanelContent>
No, simultaneous submissions are not accepted; submit exclusively to PIBM's A Journal of Management.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Are there any specific formatting guidelines for manuscript submissions?">
              <ng-template ngbPanelContent>
                Yes, detailed formatting guidelines are available on our website for authors' reference.                
              </ng-template>
            </ngb-panel>
            <ngb-panel title="How can I become a reviewer for PIBM's Journal?">
              <ng-template ngbPanelContent>
                Interested individuals can apply to be reviewers through our website.                               
              </ng-template>
            </ngb-panel>
            <ngb-panel title="How can I become a reviewer for PIBM's Journal?">
              <ng-template ngbPanelContent>
                Interested individuals can apply to be reviewers through our website.                               
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Can I submit a revised version of my manuscript after review?">
              <ng-template ngbPanelContent>
Yes, authors can submit revised manuscripts following review feedback.                              
              </ng-template>
            </ngb-panel>
            <ngb-panel title="How do I request reprints of published articles?">
              <ng-template ngbPanelContent>
                Reprints can be requested by contacting our Editorial Team.                                             
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

        </div>
      </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="right-sticky"> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
           <div class="announcement-body">
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
              </li>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>
  

