<div class="left-sticky "> 
    <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
     <div class="announcement-body">
            <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
            <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
            <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
            <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
            <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
    </div>
    </div> 