.header-text{font-size: 30px;font-weight:600;}
.about-banner{background-image: url(src/assets/Images/About/Editorial-Board.webp);
    width:100%;
    background-size:contain;
    background-repeat: no-repeat;
    height:150px;
    text-align: center;
    margin: 0px;
    color:#fff;
}