<section class="container-fluid about-banner">
    <div class="container-fluid"> 
        <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">Editorial Board</h2>
      
    </div>
    </div>
    <div class="container-fluid">          
        <nav class="flex top-flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3 pl-0">
      <li class="inline-flex items-center">
        <a href="/home" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
          <i class="fa fa-home mr-2"></i>
          Home
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <i class="fa fa-angle-right mt-1"></i>
          <a href="/about" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">About the Journal</a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <i class="fa fa-angle-right mt-1"></i>
          <a href="/about/editorialboard" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Editorial Board</a>
        </div>
      </li>
    </ol>
        </nav>
    
      </div>
  </section>
  
  <section class="mt-5">  
  <div class="container-fluid">
    
  <div class="col-lg-12">
  <div class="row">
      <div class="col-lg-3 col-12">
        <div class="left-sticky "> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
           <div class="announcement-body">
                  <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
          </div>
          </div>
      </div>
      <div class="col-lg-6 col-12 mb-5">
      <div class="row">
          <h2 class="header-text">Editorial Board</h2>
           <p>Meet the esteemed Editorial Board of PIBM’s A Journal of Management, a dynamic and visionary team committed to steering the scholarly course of our publication. As the official Management Journal of the Pune Institute of Business Management (PIBM), our Editorial Board plays a central role in upholding the journal's academic integrity and excellence. <br><br>
        Comprising distinguished scholars and seasoned practitioners from diverse management disciplines, our board members meticulously reviews submitted manuscripts. Their expertise ensures that only the most impactful and innovative research graces our pages, empowering readers with cutting-edge insights.<br><br>
        Each member brings a unique perspective, fostering an inclusive environment that encourages intellectual rigor and open discourse. Their guidance drives our pursuit of excellence, empowering researchers and readers to shape the future of management research. <br><br>
        Explore the profiles of our esteemed Editorial Board members below.</p>
      </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="right-sticky"> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
          <div class="announcement-body">
            <li class="row">
                <div class="col-lg-2"><i class="fa fa-file-pdf-o"></i></div>
                <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa fa-file-pdf-o"></i></div>
                <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa fa-file-pdf-o"></i></div>
                <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa fa-file-pdf-o"></i></div>
                <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa fa-file-pdf-o"></i></div>
                <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa fa-file-pdf-o"></i></div>
                <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
            </li>
            </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>