
<section class="container-fluid reviewers-banner">
    <div class="container-fluid"> 
      <div class="row align-items-center">
        <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">Reviewers</h2>
    </div>
    </div>
    </div>
  </section>

  <section class="container-fluid mt-5">    
  <div class="col-lg-12">
  <div class="row">
      <div class="col-lg-3 col-12">
        <div class="left-sticky "> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
           <div class="announcement-body">
                  <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
          </div>
          </div>
      </div>
      <div class="col-lg-6 col-12 mb-5">
      <div class="row">
          <h2 class="header-text">Reviewers</h2>
           <p>What lies behind every successful publication at PIBM’s A Journal of Management is the collective wisdom and expertise of our esteemed journal reviewers. Our highly expertised group of reviewers form an integral part of the journal, shaping the scholarly landscape through their meticulous evaluations and invaluable insights. <br><br>
        Our reviewers, experts in their respective fields of management, bring a wealth of knowledge and critical insights to evaluate submissions with precision and depth. Their commitment to upholding academic rigor and providing constructive feedback shapes the course of management knowledge and empowers authors to present their best work. <br><br>
        Meet our esteemed reviewers, the driving force behind the scholarly excellence of our publication. These distinguished individuals form the backbone of our peer review process, ensuring the highest quality and credibility of the research we publish.</p>
      </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="right-sticky"> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
           <div class="announcement-body">
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
              </li>
              </div>
          </div>
      </div>
  </div>
  </div>
  </section>