<section class="container-fluid author-guidelines-banner">
    <div class="container-fluid"> 
        <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">Author Guidelines</h2>
      
    </div>
    </div>
  </section>
  
  <section class="mt-5">  
  <div class="container-fluid">
    
  <div class="col-lg-12">
  <div class="row">
      <div class="col-lg-3 col-12">
        <div class="left-sticky "> 
            <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
             <div class="announcement-body">
                    <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                    <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                    <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                    <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
            </div>
            </div>
      </div>
      <div class="col-lg-6 col-12">
      <div class="row">             
           <div class="col-lg-12 col-12 mt-3">
            <h2 class="header-text">Author Guidelines</h2>
           <p>Outlined below are the mandatory criteria for any article to be considered for publication in the PIBM Management Review. Article adheres to the manuscript preparation guidelines explained below.</p>
           <ul>
            <li>Article should be in Microsoft Word format only</li>
            <li>Each article should be accompanied with a cover letter</li>
            <li>Articles should be written in single column format, using Times New Roman font, 12 point font size. Keep the layout of the text as simple as possible</li>
            <li>Equations and formula should be readable, preferably written using equation editing softwares (E.g. Math Type). Alternately, authors have to provide the fonts used for creating the equations/formula</li>
            <li>All figures provided are of high resolution, preferably 300dpi</li>
            <li>References should follow the <b>APA Style of Referencing</b></li>
           </ul>

            <h3 class="mt-3 mb-0 text-blue"><b>Manuscript Preparation Guidelines</b></h3>
            <ul>
            <li>Title</li>
            <li>Abstract</li>
            <li>Keywords</li>
            <li>Introduction</li>
            <li>Concept headings (include statistical methodology, if any)</li>
            <li>Discussion</li>
            <li>Conclusion</li>
            <li>Acknowledgment (If any)</li>
            <li>References</li>
            </ul>

            <h3 class="mt-3 mb-0"><b>Electronic Formats</b></h3>
            <p>Authors are requested to send their articles in MS Word (.doc) format. In case of any difficulty with the manuscript submission process or concern regarding the suitability of your files, please contact us at <a href="mailto:rajasshrie.pillai@pibm.in">rajasshrie.pillai@pibm.in</a></p>

            <h3 class="mt-3 mb-0"><b>Article Title</b></h3>
            <p>The title should be concise and specific to the topic of the article, avoid using abbreviations in the title. Titles should be presented in title case, meaning that all words except for prepositions, articles, and conjunctions should be capitalized. All botanical names should be in italics.</p>

            <h3 class="mt-3 mb-0"><b>Author names & Affiliations</b></h3>
            <p>Provide first names or initials (if used), middle names or initials (if used), and surnames for all authors. Affiliation details should include—department, university or organization, city, state and country for all authors. One of the authors should be designated as the corresponding author with asterisk (*) against his/her name. Only the corresponding author's email address should be provided in the article. It is the corresponding author's responsibility to ensure that the author list and the summary of the author contributions to the study are accurate and complete.</p>
            <h3 class="mt-3 mb-0"><b>Abstract & Keywords</b></h3>
            <p>The abstract introduces the article and should not exceed 300 words. It should mention the techniques used without going into methodological detail and should summarize the most important results. Please do not include any citations in the abstract and avoid using abbreviations if possible.<br><br>
            Authors should provide 4-6 keywords for indexing purposes. Keywords should be written in title case and separated by comma. Avoid general and plural terms and multiple concepts (avoid, for example, 'and', 'of').</p>                                                                                                   <h3 class="mt-3 mb-0"><b>Headings</b></h3>
            <p>For a better understanding of the content in the article, we encourage authors to number the article headings in Arabic style format. Headings should follow title case, meaning that all words except for prepositions, articles, and conjunctions should be capitalized. All botanical names should be in italics. Authors should provide 4-6 keywords for indexing purposes. Keywords should be written in title case and separated by comma. Avoid general and plural terms and multiple concepts (avoid, for example, 'and', 'of').</p> 
            For example:  
            <ul>
                <li>Balance Score Card (BSC)</li>
                <li>Performance Management</li>
            </ul>
            <h3 class="mt-3 mb-0"><b>Abbreviations</b></h3>
            <p>All abbreviations should be defined on first use in the text along with the abbreviation in parenthesis. E.g. Performance Management System (PMS)</p> 
            <h3 class="mt-3 mb-0"><b>Units and Symbols</b></h3>
            <p>Symbols should be used while referring to alpha, beta, mu, etc (Ex: α, β, µ, etc). All units to follow the International System of Units (SI units).</p>
           </div>
           <div class="col-lg-12 mt-3 mb-3">
            <div class="col-lg-12 col-12 figures-head">
                <h3 class="mb-1">Figures: General guidelines</h3>
            </div>
            <div class="col-lg-12 col-12 figures-bg">
                <div class="row">
                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p><b>Figures Format & Resolution:</b></p></div>
                    <div class="col-lg-12 col-12">
                    <p>Authors are requested to supply high-resolution versions of the figures in TIFF, JPEG or EPS format. We require that figures be created at a minimum resolution of 300 ppi.</p>
                    </div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p><b>File size</b></p></div>
                    <div class="col-lg-12 col-12">
                    <p>The file sizes should not exceed 20 MB.</p>
                    </div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p><b>File naming</b></p></div>
                    <div class="col-lg-12 col-12">
                    <p>Naming of figure files should be simple indicating the serial number and last name of author. E.g. if author's name is Bob Marley, Figure 1 should be named as “Fig 1_Marley”.</p>
                    </div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p><b>Figure submission</b></p></div>
                    <div class="col-lg-12 col-12">
                    <p>Figures should be submitted after uploading the article (in step 4 of the submission process in supplementary files). In case of multiple files, upload the figures in order. E.g. Figure 1 should be uploaded first followed by Figure 2, 3 and so on.</p>
                    </div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p><b>Citation</b></p></div>
                    <div class="col-lg-12 col-12">
                    <p>All figures must be cited in the text and authors should indicate where they are to be inserted in the text. E.g.</p>
                    </div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p><b>Figure captions</b></p></div>
                    <div class="col-lg-12 col-12">
                    <p>These have to be included in the text and provided sequentially at the end of the article. The captions should be short having 10-15 words in sentence case style. E.g. Figure 1. Percentage of detection rate vs. number of nodes.</p>
                    </div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p><b>Permissions</b></p></div>
                    <div class="col-lg-12 col-12">
                    <p>Authors should obtain permission from authors for copyright figures and tables before submitting to Indian Journal of Science and Technology All figures will be published under a Creative Commons Attribution License, which allows them to be freely used, distributed, and built upon as long as proper attribution is given. Please do not submit any figures that have been previously copyrighted unless you have express written permission from the copyright holder to publish under the CCAL license.</p>
                    </div>
                </div>
            </div>
           </div>

           <div class="col-lg-12 mt-3 mb-3">
            <div class="col-lg-12 col-12 figures-head">
                <h3 class="mb-1">Tables: General guidelines</h3>
            </div>
            <div class="col-lg-12 col-12 figures-bg">
                <div class="row">
                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p>Tables should be included in the text file at the end of the article.</p></div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p>All tables should have a concise title and written as Table 1 with a period.</p></div>

                    <div class="col-lg-1 col-1 mt-2"><span class="material-symbols-outlined">task_alt</span></div>
                    <div class="col-lg-11 col-11 mt-2"><p>Footnotes can be used to explain abbreviations. Tables extending beyond 1 page should be avoided.</p></div>                   
                </div>
            </div>
            <div class="col-lg-12 mt-3 mb-3">
                <h3 class="mt-3 mb-0"><b>Acknowledgments</b></h3>
            <p>People who contributed to the work but do not fit the criteria for authors should be listed in the Acknowledgments, along with their contributions. Authors are requested to ensure that anyone named in the Acknowledgments agrees to being so named.</p>
            </div>
           </div>
      </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="right-sticky"> 
            <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
             <div class="announcement-body">
                <li class="row">
                    <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                    <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
                </li>
                <li class="row">
                    <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                    <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
                </li>
                <li class="row">
                    <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                    <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
                </li>
                <li class="row">
                    <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                    <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
                </li>
                <li class="row">
                    <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                    <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
                </li>
                <li class="row">
                    <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                    <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
                </li>
                </div>
            </div>
      </div>
  </div>
  </div>
  </div>
  </section>