<div class="row header-bg">
    <div class="container">
        <div class="row">
        <div class="col-lg-4"><img src='assets/Images/logo.webp' width="160px"> &nbsp;<small class="text-white">ISSN (online): 2455 - 8796</small></div>
        <div class="col-lg-2"> </div>
        <div class="col-lg-4"> 
            <div class="input-group mt-4 mb-0">                
                <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-search"></i></span>
                  </div>
              </div>
        </div>
        <div class="col-lg-2 mt-4">
            <button type="button" class="btn btn-outline-light">Login</button>&nbsp;
            <button class="btn btn-primary" type="submit">Create Account</button>
        </div>
    </div>
    </div>
  </div>