<div class="row header-bg pb-2">
    <div class="container">
        <div class="row">
        <div class="col-lg-2 col-6"><img src='assets/Images/logo.webp' width="120px"></div>
        <div class="col-lg-2 col-6 pt-4"><small class="text-white">ISSN (online): 2455 - 8796</small></div>
        <div class="col-lg-2"> </div>
        <div class="col-lg-4"> 
            <div class="input-group mt-4 mb-0">                
                <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                    <mat-icon>search</mat-icon>
                    </span>
                  </div>
              </div>
        </div>
        <div class="col-lg-2 col-12">
            <button type="button" class="btn btn-outline-light mt-4" routerLink="profile/login">Login</button>&nbsp;
            <button class="btn btn-primary mt-4" type="submit" routerLink="profile/create-account" >Create Account</button>
        </div>
    </div>
    </div>
  </div>