<div class="right-sticky"> 
    <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
     <div class="announcement-body">
        <li class="row">
            <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
        </li>
        <li class="row">
            <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
        </li>
        <li class="row">
            <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
        </li>
        <li class="row">
            <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
        </li>
        <li class="row">
            <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
        </li>
        <li class="row">
            <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
            <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
        </li>
        </div>
    </div>