<section class="container-fluid Contact-banner">
  <div class="container-fluid">
    <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">Contact</h2>

    </div>
  </div>
</section>

<section class="mt-5">
  <div class="container-fluid">

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="row">
            <p>Have questions or need assistance? Feel free to contact our dedicated Editorial Team for any inquiries
              related to manuscript submissions, peer review, publication, or general queries. We are here to provide
              prompt and helpful support as you navigate your scholarly journey.</p>
            <div class="col-lg-12 col-12">
              <h3 class="mt-3 mb-0 text-blue"><b>Contact Details:</b></h3>
              <b>Dr. Rajasshrie Pillai</b>
              <p>HOD, HR</p>
              <table class="p-2">
                <tbody>
                  <tr>
                    <td><mat-icon>mail</mat-icon></td>
                    <td>
                      <p>rajasshrie.pillai@pibm.in</p>
                    </td>
                  </tr>
                  <tr>
                    <td><mat-icon>phone</mat-icon></td>
                    <td>
                      <p>+91 99219 71202</p>
                    </td>
                  </tr>
                  <tr>
                    <td><mat-icon>fmd_good</mat-icon></td>
                    <td>Pune Institute of Business Management, Gat No. 605/1, Lavasa Road,</td>
                  </tr>
                  <tr>
                    <td><mat-icon></mat-icon></td>
                    <td>Pirangut, Pune, Tal-Mulshi, Maharashtra - 411042, India.</td>
                  </tr>
                </tbody>
              </table>

              <img src="assets/Images/Contact-1.webp" width="300px" class="mt-5">

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="row form-bg">
            <form class="row">
              <div class="col-lg-12 form-group mt-2">
                <input type="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Name *">
              </div>
              <div class="col-lg-12 form-group mt-2">
                <input type="Author" class="form-control" id="exampleInputPassword2"
                  placeholder="Author ID (if applicable)">
              </div>
              <div class="col-lg-6 form-group mt-2">
                <input type="Email" class="form-control" id="exampleInputPassword2" placeholder="Email *">
              </div>
              <div class="col-lg-6 form-group mt-2">
                <div class="btn-group">
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <select class="btn btn-outline-success" ngbDropdownToggle>
                      <option value="91">+91</option>
                      <option value="92">+92</option>
                      <option value="93">+93</option>
                    </select>

                  </div>
                  <input type="Phone" class="form-control" id="exampleInputPassword2" placeholder="Phone *">
                </div>
              </div>
              <div class="col-lg-4 form-group mt-2">
                <!-- <select country_id="countries" class="form-control"  (change)="onCountryChange($event.target.value)">
                  <option>Country *</option>
                  <option *ngFor="let country of countries" [value]="country.country_id">{{ country.country_name }} </option>
                </select> -->
                <!-- <select countryId="countries" (change)="onCountrySelected($event.target.value)"> -->
                  <!-- <select class="form-control" id="countrySelect" [(ngModel)]="selectedCountry" (change)="onCountrySelected($event.target.value)"> -->
                    <select class="form-control" id="exampleFormControlSelect1" (change)="selectedState($event)">
                  <option value="">Select a country *</option>
                  <option *ngFor="let country of countries" [value]="country.country_id">{{ country.country_name }}</option>
                </select>
              </div>
              <div class="col-lg-4 form-group mt-2">
                <!-- <select class="form-control" id="stateSelect" [(ngModel)]="selectedState" [ngModelOptions]="{ standalone: true }"> -->
                  <!-- <select class="form-control" state_id="states" (change)="onStateSelected($event.target.value)" > -->
                    <select class="form-control" id="stateSelect" (change)="selectedCity($event)">         
                   <option value="">select State *</option>
                  <option *ngFor="let state of states" [value]="state.state_id">{{ state.state_name }}</option>
                </select>
              </div>
              <div class="col-lg-4 form-group mt-2">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>City *</option>
                  <option *ngFor="let city of city" [value]="city.suburb_id">{{ city.suburb_name }}</option>
                </select>
              </div>
              <div class="col-lg-12 form-group mt-2">
                <input type="University/organization" class="form-control" id="exampleInputPassword2"
                  placeholder="University/organization">
              </div>
              <div class="col-lg-6 form-group mt-2">
                <input type="Department" class="form-control" id="exampleInputPassword2" placeholder="Department">
              </div>
              <div class="col-lg-6 form-group mt-2">
                <input type="Subject" class="form-control" id="exampleInputPassword2" placeholder="Subject of Inquiry">
              </div>
              <div class="col-lg-12 form-group mt-2">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Message/Question *"></textarea>
              </div>
              <div class="col-lg-12 form-group mt-2">
                <input type="Manuscript" class="form-control" id="exampleInputPassword2"
                  placeholder="Manuscript Title (if related to a specific submission)">
              </div>
              <div class="col-lg-12 form-group mt-2">
                <input type="Manuscript-id" class="form-control" id="exampleInputPassword2"
                  placeholder="Manuscript ID (if applicable)">
              </div>
              <div class="col-lg-10 form-group mt-2"></div>
              <div class="col-lg-2 form-group mt-2"><button type="submit" class="btn btn-primary submit">Submit</button>
              </div>

            </form>
          </div>
        </div>
        <div class="col-lg-3 col-12"></div>
      </div>
    </div>
  </div>
</section>