<div class="">
    <div class="row">
      <h3 class="text-center mt-5"><b>Communication Details</b></h3>
      <p class="text-center">Just few steps away to complete your profile</p>
      <div class="col-lg-12 mt-3"><h5>Address for Communication</h5></div>        
      <div class="col-lg-12">
        <div class="relative input-container ic1 w-100 mt-2">
          <input type="text" id="" class="input w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
          <label for="Address" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">Address *</label>
      </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group input-container ic1">
            <select class="form-control input" id="exampleFormControlSelect1">
              <option>Country * </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group input-container ic1">
            <select class="form-control input" id="exampleFormControlSelect1">
              <option>State *</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group input-container ic1">
            <select class="form-control input" id="exampleFormControlSelect1">
              <option>City *</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="relative input-container ic1 w-100">
            <input type="text" id="" class="input pt-3 w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
            <label for="Pincode" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">Pincode *</label>
        </div>
      </div>
      <div class="col-lg-12 mt-3"><h5>Permanent Address</h5></div> 
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1"> &nbsp;Same as address for communication</label>
      </div>
      <div class="col-lg-12">
        <div class="relative input-container ic1 w-100 mt-2">
          <input type="text" id="" class="input w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
          <label for="Address" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">Address *</label>
      </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group input-container ic1">
            <select class="form-control input" id="exampleFormControlSelect1">
              <option>Country * </option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group input-container ic1">
            <select class="form-control input" id="exampleFormControlSelect1">
              <option>State *</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group input-container ic1">
            <select class="form-control input" id="exampleFormControlSelect1">
              <option>City *</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="relative input-container ic1 w-100">
            <input type="text" id="" class="input pt-3 w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
            <label for="Pincode" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">Pincode *</label>
        </div>
      </div> 
    </div>
  </div> 