.banner{
    background-image: url(src/assets/Images/banner-1.webp);
    width:100%;
    background-size:cover;
    height:300px;
    text-align: center;
    margin: 0px;
}

 button{z-index: 99;}
 #defaultModal{z-index:9999;}
 .btn-outline-success{border-color: #dcdfe1;background-color: transparent;color: #111;}
 .btn-group input{border-radius:0px 5px 5px 0px;}
 .form-control{width: 100%;}
 .btn-outline-success{background-color: transparent;}
.btn:first-child:active{background-color: transparent;}
.form-control{background-color:transparent;}
.form-group option{color: #000;}