<section class="container-fluid index-page-banner">
    <div class="container-fluid"> 
        <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">Index</h2>
      
    </div>
    </div>
  </section>
  
  <section class="mt-5">  
  <div class="container-fluid">
    
  <div class="col-lg-12">
  <div class="row">
      <div class="col-lg-3 col-12">
        <div class="left-sticky "> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
           <div class="announcement-body">
                  <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
          </div>
          </div>
      </div>
      <div class="col-lg-6 col-12 mb-5">
      <div class="row">
          <h2 class="header-text">Index</h2>
           <p>Explore the rich repository of cutting-edge research and scholarly insights at PIBM's Journal. Our index page is a gateway to a diverse collection of thought-provoking articles from the field of management. As the official journal of the Pune Institute of Business Management (PIBM), we take pride in offering a curated selection of high-quality publications. Discover the latest trends, pioneering studies, and innovative ideas contributed by esteemed scholars, researchers, and practitioners. Our indexed content ensures easy access and visibility, fostering global academic collaboration. Immerse yourself in the world of management knowledge as you embark on a transformative journey through our extensive index of published works.</p>
      </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="right-sticky"> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
           <div class="announcement-body">
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
              </li>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>