<section class="container-fluid about-banner">
  <div class="container-fluid"> 
      <div class="col-lg-12 pt-5">
    <h2 class="header-text" align="left">About the Journal</h2>
    
  </div>
  </div>
</section>

<section class="mt-5">  
<div class="container-fluid">
  
<div class="col-lg-12">
<div class="row">
    <div class="col-lg-3 col-12">
      <div class="left-sticky "> 
        <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
         <div class="announcement-body">
                <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
        </div>
        </div> 
    </div>
    <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col-lg-8 col-12"> <h2 class="header-text">A Journal of Management</h2></div>
      <div class="col-lg-4 col-12 pt-3"> <p>ISSN (online): 2455 - 8796</p></div>
         <p>A Journal of Management is the flagship journal of PIBM. It commenced publication in March 2016. It is a double-blind refereed journal. The journal provides an international forum for discussion of advancements in management including accounting, marketing, finance, organizational behavior, human resource management, MIS, quantitative methods, operations management, economics, entrepreneurship, business ethics, strategy, etc. It aims at highlighting and encouraging pioneering works in the field of Management. It aims at providing information about the various new studies in the area of Management. The journal is published on quarterly basis.<br><br> 
        ©Copyright of journal rests with the editorial board. Copying or reproducing from this journal in any form without prior written permission from the managing editor is strictly prohibited. However, with due acknowledgement, facts and figures contained in the journal may be freely utilized for academic purposes. Submission: <br><br> 
        The journal welcomes contributions related to Management and allied subjects. Apart from full research articles which will be subject to editorial and peer revisions, the journal will also publish systematic reviews and research communications.</p>   
         <div class="col-lg-12 col-12">
         <h4 class="text-blue mb-0"><b>Correspondence</b></h4>
            <p>Pune Institute of Business Management Review</p>
         </div>
         <div class="col-lg-12 col-12 mb-3">
          <h4 class="text-blue mb-1"><b>Editor</b></h4>
          <h4 class="mb-1"><b>Dr. Rajasshrie Pillai</b></h4>
            <p>PUNE INSTITUTE OF BUSINESS MANAGEMENT, PUNE, MAHARASHTRA, 412115 
              <br>Website: <a href="https://www.pibm.in/" target="_blank"> www.pibm.in</a></p>
         </div>
    </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="right-sticky"> 
        <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
         <div class="announcement-body">
            <li class="row">
                <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
            </li>
            <li class="row">
                <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
            </li>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>