<section class="container-fluid archives-banner">
    <div class="container-fluid"> 
        <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">Archives</h2>
      
    </div>
    </div>
    <div class="container-fluid">          
      <nav class="flex top-flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3 pl-0">
    <li class="inline-flex items-center">
      <a href="/home" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <i class="fa fa-home mr-2"></i>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <i class="fa fa-angle-right mt-1"></i>
        <a href="/archives" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Archives</a>
      </div>
    </li>
  </ol>
      </nav>
  
    </div>
  </section>
  
  <section class="mt-5">  
  <div class="container-fluid">
    
  <div class="col-lg-12">
  <div class="row">
      <div class="col-lg-3 col-12">
        <div class="left-sticky "> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
           <div class="announcement-body">
                  <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
          </div>
          </div>
      </div>
      <div class="col-lg-6 col-12 mb-5">
      <div class="row">
          <h2 class="header-text">Archives</h2>
           <p>PIBM welcomes all the esteemed readers and research scholars to the Archives of A Journal of Management, a repository of knowledge that subtly reflects our dedication to advancing the frontiers of management knowledge. <br><br>
          Here you will discover a rich collection of pioneering research, insightful perspectives, and innovative ideas contributed by esteemed scholars, knowledgeable researchers, and accomplished practitioners from around the world. The Archives serve as a testament to our steadfast dedication to sharing knowledge, promoting global academic collaboration, and making significant contributions to the dynamic field of management. <br><br>
          Each journal within these repositories embodies the collaborative spirit of our authors, the discerning acumen of our meticulous reviewers, and the visionary stewardship of our esteemed Editorial Board. Together, they catalyze the evolution of management scholarship, inspiring a profound intellectual transformation among aspiring minds and visionary leaders.</p>
      </div>
      <div class="row">
        <h3 class="text-blue"><b>Check All Published Journals</b></h3>
        <div class="col-lg-12 col-12 published-journals">
          <div class="row">
          <div class="col-lg-3 col-12 text-center">
            <a href="/assets/Images/pdf/Volume-1-2017.pdf" target="_blank"><img src="assets/Images/Archives/Volume-1.webp">
            <p class="mt-2">Volume 1 - A Journal of Management</p></a>
          </div>
          <div class="col-lg-3 col-12 text-center">
            <a href="/assets/Images/pdf/Volume-2-2018.pdf" target="_blank"><img src="assets/Images/Archives/Volume-2.webp">
            <p class="mt-2">Volume 2 - A Journal of Management</p></a>
          </div>
          <div class="col-lg-3 col-12 text-center">
            <a href="/assets/Images/pdf/Volume 3 - Emerging Trends in Business Management.pdf" target="_blank"><img src="assets/Images/Archives/Volume-3.webp">
            <p class="mt-2">Volume 3 - Emerging Trends in Business Management</p></a>
          </div>
          <div class="col-lg-3 col-12 text-center">
            <a href="/assets/Images/pdf/Volume 4 - 2019.pdf" target="_blank"><img src="assets/Images/Archives/Volume-4.webp">
            <p class="mt-2">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</p></a>
          </div>
          <div class="col-lg-3 col-12 text-center">
            <a href="/assets/Images/pdf/Volume 5 - 2020.pdf" target="_blank"><img src="assets/Images/Archives/Volume-5.webp">
            <p class="mt-2">Volume 5 - Business Intervention & Technology</p></a>
          </div>
          <div class="col-lg-3 col-12 text-center">
            <a href="/assets/Images/pdf/Volume-6-2022.pdf" target="_blank"><img src="assets/Images/Archives/Volume-6.webp">
            <p class="mt-2">Volume 6 - Navigating the Future of Business in a Turbulent Environment</p></a>
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="right-sticky"> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
           <div class="announcement-body">
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
              </li>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>