      <div class="">
      <div class="row">
        <h3 class="text-center mt-5"><b>Basic Details</b></h3>
        <p class="text-center">Complete the following steps to configure your profile</p>
        
          <div class="col-lg-12 form-group btn-group mt-5">
            <div role="group" aria-label="Button group with nested dropdown" class="btn-group">
            <select class="dropdown-toggle btn btn-outline-success" aria-expanded="false">
              <option value="Prof.">Prof. *</option>
              <option value="Dr.">Dr. *</option>
              <option value="Mr.">Mr. *</option>
              <option value="Ms.">Ms. *</option>
              </select>
          </div>
          <div class="relative w-100">
            <input type="text" id="small_outlined" class="input pt-3 w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
            <label for="First Name" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">First Name *</label>
        </div>
        </div>
        <div class="col-lg-12 form-group">
          <div class="relative input-container ic1 w-100">
            <input type="text" id="" class="input pt-3 w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
            <label for="Middle Name" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">Middle Name (Optional)</label>
        </div>
        </div>
        <div class="col-lg-12 form-group">
          <div class="relative input-container ic1 w-100">
            <input type="text" id="" class="input pt-3 w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
            <label for="Last Name" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">Last Name *</label>
        </div>
        </div>
        <div class="col-lg-12 form-group">
          <div class="relative input-container ic1 w-100">
            <input type="text" id="" class="input pt-3 w-full text-sm text-gray-900 bg-transparent dark:focus:border-blue-500 focus:border-blue-400 peer" placeholder="" />
            <label for="Contact Number" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1">Contact Number *</label>
        </div>
        </div>
        <div class="col-lg-12 mt-3">
          <p><b>Gender *</b></p>
          <ul class="w-full rounded-lg sm:flex dark:text-white pl-0">
            <li class="w-full">
                <div class="flex items-center">
                    <input id="horizontal-list-radio-license" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="horizontal-list-radio-license" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Male</label>
                </div>
            </li>
            <li class="w-full">
                <div class="flex items-center">
                    <input id="horizontal-list-radio-id" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="horizontal-list-radio-id" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Female</label>
                </div>
            </li>
            <li class="w-full">
                <div class="flex items-center pl-3">
                    <input id="horizontal-list-radio-millitary" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="horizontal-list-radio-millitary" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Other</label>
                </div>
            </li>
        </ul>
        </div> 
      </div>
    </div> 