
<section class=""><app-banner-home></app-banner-home></section>

<section class="mt-5">
<div class="container-fluid">
<div class="col-lg-12">
<div class="row">
    <div class="col-lg-3 col-12"><app-left-menu></app-left-menu></div>
    <div class="col-lg-6 col-12">
    <div class="row">
        <h2 class="header-text">Introduction test</h2>
         <p>Established in March 2016, our flagship journal, A Journal of Management is a double-blind refereed publication. We offer an international platform for cutting-edge discussions on various management disciplines. From accounting to strategy, finance to entrepreneurship, our quarterly journal highlights pioneering works and fosters academic growth. Copyright rests with the editorial board, and submissions related to Management and allied subjects are welcome, including full research articles, systematic reviews, and research communications.</p>   
         <div class="col-lg-6 col-12">
            <table class="table mb-0">                
                    <tr>
                        <td>
                            <span class="material-symbols-outlined icon-bg">
                                language
                                </span></td>
                        <td>&nbsp;<h4>International Reach</h4></td>
                    </tr>                
            </table>
            <p>Our journal attracts contributions from scholars and researchers worldwide, fostering global collaboration.</p>
         </div>
         <div class="col-lg-6 col-12">
            <table class="table mb-0">                
                    <tr>
                        <td>
                            <span class="material-symbols-outlined icon-bg">
                                speaker_notes
                                </span></td>
                        <td>&nbsp;<h4>Rigorous Review Process</h4></td>
                    </tr>                
            </table>
            <p>Each submission undergoes meticulous editorial and peer revisions, ensuring the highest quality of published works.</p>
         </div>
         <div class="col-lg-6 col-12">
            <table class="table mb-0">                
                    <tr>
                        <td>
                            <span class="material-symbols-outlined icon-bg">
                                topic
                                </span></td>
                        <td>&nbsp;<h4>Diverse Topics</h4></td>
                    </tr>                
            </table>
            <p>We cover a wide range of management disciplines, encompassing economics, MIS, organizational behavior, and more.</p>
         </div>
         <div class="col-lg-6 col-12">
            <table class="table mb-0">                
                    <tr>
                        <td>
                            <span class="material-symbols-outlined icon-bg">
                                school
                                </span></td>
                        <td>&nbsp;<h4>Academic Impact</h4></td>
                    </tr>                
            </table>
            <p>Pune Institute of Business Management Review serves as a reputable platform for disseminating groundbreaking research and advancing management knowledge.</p>
         </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12 col-12"><h2 class="header-text">Aim and Scope of the journal</h2></div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Knowledge.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Knowledge Dissemination</h5>
                  <p class="card-text">Disseminating scholarly research and insights to enrich the global academic community.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Thoughtful.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Thoughtful Exploration</h5>
                  <p class="card-text">Encouraging thoughtful exploration of managerial concepts, practices, and challenges.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Interdisciplinary.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Interdisciplinary Perspectives</h5>
                  <p class="card-text">Disseminating scholarly research and insights to enrich the global academic community.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Managerial.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Managerial Best Practices</h5>
                  <p class="card-text">Showcasing best practices and innovative strategies for effective organizational management.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Emerging.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Emerging Trends</h5>
                  <p class="card-text">Spotlighting emerging trends and disruptions shaping the future of the management landscape.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Practical.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Practical Applications</h5>
                  <p class="card-text">Emphasizing research with practical implications for real-world management scenarios.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Academic.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Academic Excellence</h5>
                  <p class="card-text">Promoting academic excellence through rigorous editorial and peer-review processes.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Collaborative.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Collaborative Platform</h5>
                  <p class="card-text">Facilitating collaboration among researchers, academicians, and industry practitioners.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Global.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Global Engagement</h5>
                  <p class="card-text">Providing an international forum for cross-cultural exchange of management knowledge.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
            <div class="card">
                <img class="card-img-top w-100" src="assets/Images/Index/Impactful.webp" alt="" >
                <div class="card-body p-2">
                  <h5>Impactful Scholarship</h5>
                  <p class="card-text">Encouraging research that drives positive impact on businesses and society at large.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-6">
            <h2><b>Benefits to the Author</b></h2>
            <p>Publishing with us offers a myriad of advantages for authors. Your research gains global visibility and impact, reaching a diverse audience of scholars and practitioners worldwide. Benefit from academic credibility and recognition, elevating your standing within the research community. Our rigorous peer review process ensures validation and constructive feedback, enhancing the quality of your work. Engage in valuable networking and collaboration opportunities, fostering potential partnerships and academic growth. Enjoy efficient and timely publication, contributing to the advancement of management knowledge while strengthening your academic career prospects.</p>
        </div>
        <div class="col-lg-6">
         <div class="Benefits-bg">
            <div class="col-lg-12 col-12 pt-3">
                <div class="row Benefits-li">
                    <div class="col-lg-2"><span class="material-symbols-outlined Benefits-bg-span">travel_explore</span></div>
                    <div class="col-lg-10 pt-2"><h5><b>Global Reach</b></h5></div>
                    <div class="col-lg-2 mt-3"><span class="material-symbols-outlined Benefits-bg-span">person_play</span></div>
                    <div class="col-lg-10 pt-4"><h5><b>Enhanced Reputation</b></h5></div>
                    <div class="col-lg-2 mt-3"><span class="material-symbols-outlined Benefits-bg-span">connect_without_contact</span></div>
                    <div class="col-lg-10 pt-4"><h5><b>Constructive Feedback</b></h5></div>
                    <div class="col-lg-2 mt-3"><span class="material-symbols-outlined Benefits-bg-span">diversity_2
                    </span></div>
                    <div class="col-lg-10 pt-4"><h5><b>Networking Opportunities</b></h5></div>
                    <div class="col-lg-2 mt-3"><span class="material-symbols-outlined Benefits-bg-span">settings_account_box
                    </span></div>
                    <div class="col-lg-10 pt-4"><h5><b>Career Growth</b></h5></div>
                </div>                
             </div>
         </div>
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-12"><app-right-menu></app-right-menu></div>
</div>
</div>
</div>
</section>



