
<div class="row main-menu">
    <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNav" class="collapse navbar-collapse">
        <!-- display on xl only -->
        <div class="navbar-nav d-none d-xl-flex">
          <div class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
          </div>
          <div class="nav-item mx-2">
            
          </div>
          <div id="link-1" class="nav-item dropdown-hover mx-2">
            <a class="nav-link dropdown-hover-button" routerLinkActive="active" routerLink="/about">About the Journal <i class="fas fa-caret-down"></i> <span class="sr-only">(current)</span></a>
            <div class="dropdown-hover-content">
              <div class="row">
                <div class="col-lg-3">
                  <div class="mb-3">
                    <a class="dropdown-item" routerLinkActive="active" routerLink="about/editorialboard">Editorial Board</a>
                    <a class="dropdown-item" routerLinkActive="active" routerLink="about/authors">Authors</a>
                    <a class="dropdown-item" routerLinkActive="active" routerLink="about/reviewers">Reviewers</a>
                    <a class="dropdown-item" routerLinkActive="active" routerLink="about/editorial-policy" >Editorial Policy</a>
                    <a class="dropdown-item" href="#">Sub Page</a>  
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mb-3">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                  <div class="mb-3">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mb-3">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                  <div class="mb-3">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mb-3">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                  <div class="mb-3">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="active" routerLink="/archives">Archives</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="active" routerLink="/index">Index</a>
          </div>
          <div id="link-2" class="nav-item dropdown-hover mx-2">
            <a class="nav-link dropdown-hover-button" routerLinkActive="active" routerLink="/SubmitYourArticle">Submit your article <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-hover-content">
              <div class="row">
                <div class="col-lg-3">
                  <div class="mb-2">
                    <a class="dropdown-item" routerLinkActive="active" routerLink="SubmitYourArticle/AuthorGuidelines">Author Guidelines</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mb-2">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mb-2">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="mb-2">
                    <a class="dropdown-item" href="#">Sub Page</a>
                    <a class="dropdown-item" href="#">Sub Page</a>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="navbar-nav ml-auto d-none d-xl-flex">
          <div class="nav-item mx-1">
            <a class="nav-link" routerLinkActive="active" routerLink="/faqs">FAQs</a>
          </div>
          <div class="nav-item mx-1">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
          </div>
        </div>
        <!-- display on xs, sm, md and lg -->
        <div class="navbar-nav ml-auto d-block d-xl-none">
          <div class="nav-item mx-2 active">
            <a class="nav-link" href="#">Link 1</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 2</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 3</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 4</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 5</a>
          </div>
        </div>
        <div class="navbar-nav ml-auto d-block d-xl-none">
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 6</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 7</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 8</a>
          </div>
          <div class="nav-item mx-2">
            <a class="nav-link" href="#">Link 9</a>
          </div>
        </div>
      </div>
    </nav>    
  </div>  
</div>


