.header-text{font-size: 30px;font-weight:600;}
.submit-your-article-banner{background-image: url(src/assets/Images/submit-your-article/submit-your-article-banner.webp);
    width:100%;
    background-size:contain;
    background-repeat: no-repeat;
    height:150px;
    text-align: center;
    margin: 0px;
    color:#fff;
}
