<section class="container-fluid submit-your-article-banner">
    <div class="container-fluid"> 
        <div class="col-lg-12 pt-5">
      <h2 class="header-text" align="left">Submit Your Article</h2>
      
    </div>
    </div>
  </section>
  
  <section class="mt-5">  
  <div class="container-fluid">
    
  <div class="col-lg-12">
  <div class="row">
      <div class="col-lg-3 col-12">
        <div class="left-sticky "> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Announcement</b></h3></div>    
           <div class="announcement-body">
                  <li>Congratulations to Prof. Poorna Chandra for publishing his Reaserch Paper on “AI is the Future” on PIBM’s A Journal of Management.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do jhjh eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
                  <li>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor</li>
          </div>
          </div>
      </div>
      <div class="col-lg-6 col-12">
      <div class="row">
          <h2 class="header-text">Submit Your Article</h2>
           <p>We are dedicated to fostering the dissemination of cutting-edge research and innovative insights from authors and research scholars like you. Our commitment to scholarly excellence is fortified by collaborations with renowned researchers worldwide. <br><br>
           We celebrate diversity, equity, and inclusion, welcoming contributions from all over the globe. Our stringent yet streamlined peer review process ensures the highest standards of quality and ethics. <br><br>
           We offer personalized support, aiding authors and editors from proposal to publication. With our efficient production system, we provide a quick turnaround, publishing manuscripts in a matter of months, not years. <br><br>
           Ready to share your research with the world? Join us in advancing management knowledge, impacting the global academic community. Submit your journals today and be part of our prestigious and reputable publishing house.</p>   
           <div class="col-lg-12 col-12 mt-3 mb-5">
            <button type="submit" class="btn btn-primary">Submit Your Journal</button>
            <h3 class="mt-3 mb-0 text-blue"><b>Quality & Ethics</b></h3>
            <p>We are committed to maintaining the highest standards of quality and ethics in all our publications. Our stringent peer review process ensures rigorous evaluation, guaranteeing the integrity and credibility of the research we publish. We firmly uphold ethical publication practices, free from any form of bias or monetary incentives. As stewards of academic integrity, we prioritize transparency, fairness, and academic excellence. Our dedication to ethical publishing is exemplified through our adherence to recognized industry guidelines and our commitment to fostering a trustworthy and reputable platform for scholars and researchers to share their valuable contributions with the global academic community.</p>

            <h3 class="mt-3 mb-0 text-blue"><b>Fair Use</b></h3>
            <p>PIBM support fair use of published content for educational and research purposes, promoting equitable access to knowledge. During extraordinary circumstances, we may consider exceptions to enhance accessibility. For any inquiries, please contact our Editorial Team.</p>
           </div>
      </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="right-sticky"> 
          <div class="announcement-bg "><h3 class="mb-0"><b>Research Journals</b></h3></div>    
           <div class="announcement-body">
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 1 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 2 - A Journal of Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 3 - Emerging Trends in Business Management</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 4 - AI & Cognitive RPA Applications in Business in Emerging Economics</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 5 - Business Intervention & Technology</a></div>
              </li>
              <li class="row">
                  <div class="col-lg-2"><i class="fa-regular fa-file-pdf"></i></div>
                  <div class="col-lg-10"><a href="#">Volume 6 - Navigating the Future of Business in a Turbulent Environment</a></div>
              </li>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>