.footer-bg{background-color:#051E43;}
.footer-bg td{padding: 8px;font-size:20px;color: #fff;padding-bottom: 10px;}
.footer-bg a{color: #fff;}
.footer-bg h4{color: #F6BD23;}
.footer-bg a{color: #fff;text-decoration: none;}
.footer-bg a:hover{color: #F6BD23;}
.text-yellow{color: #F6BD23;}
i {font-size:20px;}
